<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <style>
        body{
            padding-top: 60px;}
            .tr-head{background: #dff0d8;}  
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body> -->
    
{% extends "layout.html"%}
    {%block container%}
    
    <div class="text-center">
        <h1 class="mt-3">Hola mundo</h1>
        <h4>{{titulo}}</h4>
    </div>
        {% for elemento in listado %} 
            <p class="mt-3">{{elemento}}</p>
        {% endfor %}

        {% if usuario %} 
            <p class="mt-3">Usuario {{titulo}}</p>
        {% else %}
            <h5>No hay usuario</h5>
        {% endif %}    
{%endblock%}