{% extends "layout.html"%}
{%import "_macros.html" as datos_macro%}
    {%block container%}
    <h1>Opera Bas</h1>

    <form action="" method="post">
        {{ datos_macro.datos('numero1', 'Ingrese el numero 1') }}
        {{ datos_macro.datos('numero2', 'Ingrese el numero 2') }}

        <div class="mb-3">
            <label for="opcion" class="form-label">operacion</label>
            <select class="form-select" name="opcion" id="opcion">
                <option value="suma">Suma</option>
                <option value="resta">Resta</option>
                <option value="multiplicacion">Multiplicacion</option>
                <option value="division">Division</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>

    <h1>Suma de {{numero1}} {{signoop}} {{numero2}} = {{res}}</h1>
{%endblock%}